{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>badrut - Homepage</title>
</head>

<body class="bg-dark">
  <div class="container-fluid text-light" style="height: 100vh">
    <!-- nav section start -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">PANTAI CAMPLONG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/about/">About</a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                badrut
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/contact">Contact</a></li>
                <li><a class="dropdown-item" href="/kupon">Kupon</a></li>
              </ul>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <!-- nav section end -->

    <!-- carousel images -->
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/badrut1.jpg' %}" class="d-block w-100" alt="tour guide image" style="height: 400px">
          <div class="carousel-caption">
            <h5>✨ Semeru Tour Quartal 1 ✨</h5>
            <p>Menjelajahi gunung semeru di awal tahun 2022</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/badrut2.jpg' %}" class="d-block w-100" alt="tour guide image 2" style="height: 400px">
          <div class="carousel-caption">
            <h5>✨ Bromo Tour Special ✨</h5>
            <p>Berpetualang melewati gunung bromo yang menantang</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/badrut3.jpg' %}" class="d-block w-100" alt="tour guide image 3" style="height: 400px">
          <div class="carousel-caption">
            <h5>✨ Merchandise & Accessories ✨</h5>
            <p>Tersedia berbagai macam kebutuhan tour & travel</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- end of carousel images -->
    <div class="row text-center align-items-center mt-4">
      <div class="col-12">
        <img src="{% static 'img/Badru.jpg' %}" width="150" height="150" />
        <h2 class="mt-2">✨Badrut Tamam Wisata Camplong✨</h2>
        <i>Berpengalaman lebih dari <span style="color:coral">300+</span> pulau di Indonesia</i>
      </div>
    </div>
    <div class="row text-dark mt-4">
      <div class="col-sm-4 g-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Tour Bersama Saya</h5>
            <p class="card-text">Hi, saya siap & bersedia mengajak kamu ke tempat yang menakjubkan di Indonesia</p>
            <a href="/contact" class="btn btn-dark d-block">Hubungi Sekarang</a>
          </div>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
            💲12
          </span>
        </div>
      </div>
      <div class="col-sm-4 g-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Paket Tour Terbaik</h5>
            <p class="card-text">Tersedia beragam macam paket tour terbaik & tour pilihan untuk explore Indonesia</p>
            <a href="/paket" class="btn btn-dark d-block">Biaya Paket</a>
          </div>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
            💲5
          </span>
        </div>
      </div>
      <div class="col-sm-4 g-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Spesial Kupon</h5>
            <p class="card-text">Dapatkan kupon menarik untuk ikut tour secara gratis keliling indonesia bersama saya.
            </p>
            <a href="/kupon" class="btn btn-dark d-block">Lihat Lebih Lengkap</a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>